<p>
  <strong><%= Comment.model_name.human %>:</strong>
</p>

<% if commentable.comments.empty? %>
  <p><%= t('errors.messages.no_comments') %></p>
<% else %>
  <% commentable.comments.each do |comment| %>
    <ul style = 'list-style: none;'>
      <li><%= comment.content %></li>
      <li>
        <% name_or_email = comment.user.name.empty? ? comment.user.email : comment.user.name %>
        <%= link_to name_or_email, user_path(comment.user) %> |
        <%= l comment.created_at, format: :short %>
      </li>
    </ul>
  <% end %>
<% end %>
